.banner {
    background-image: url("../images/banner-carousel/netmatters-office.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    min-height: 35rem;

    text-align: center;
}
