.cookies-popup {

display: flex;
align-items: center;
justify-content: center;

position: fixed;
top: 0;
width: 100%;
height: 100%;
z-index: 25;

    color: $dark-grey;

    h2 {
        margin: 0; 
        font-size: 1.625rem;
        font-weight: 200;
    }

    p {
        color: $mid-grey-03;
        line-height: 1.875rem;
    }

    button {
        @extend %button;
        display: block;
        cursor: pointer;
        background-color: $mid-grey-04;
        font-size: 1.1rem;

        &:hover {
            background-color: darken($mid-grey-04, 10%);
        }

        &:active {
            box-shadow: inset 0 3px 5px rgba(0,0,0,.125)
        }
    }

    // Add a dark overlay behind the pop-up modal 
    // but in front of the rest of the page
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        // z-index: 24;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 75%;
    }
}

.cookies-popup--hidden {
    // Default state: hidden
    // The pop-up modal is made visible using JavaScript: `js/cookiesPopUp.js`
    display: none;
}

