main {
    // 'Hide' sidebar behind main content with an opaque background
    background-color: $white;

    // Animation for when the secondary-nav appears
    transition: transform $transition-duration-01 ease-in-out;

    // Fill the empty space where the header would be, 
    // but isn't because of `position: fixed`
    margin-top: 10.1875rem;

    // So that the <main> appears 'on top' of the secondary-nav
    position: relative;
    z-index: 10;

    // The height of the header varies on viewport width
    @include breakpoint(narrow-to-medium) {
        margin-top: 6.75rem;
    }

    @include breakpoint(medium-to-wide) {
        margin-top: 13.5rem;
    }
}

// Entire page shifts to the left when the sidebar is active 
.main--secondary-nav-active {
    transform: translateX(-17.5rem);

    // The secondary-nav is slightly wider when the viewport is wider, 
    // so the main content must shift a bit further to the left
    @include breakpoint(medium-to-wide) {
        transform: translateX(-22rem);
    }
}