.news {

    margin-top: 3rem;
    margin-bottom: 3rem;

    a {
        text-decoration: none;
    }
}

// Contains all the Flexbox layout rules for cards in the 'News' section
.news__flex-parent-container {

    display: flex;
    flex-wrap: wrap;
    gap: $gap;
    justify-content: space-between;

    // Cards extend to width available as default
    >* {
        flex-basis: 100%;
    }

    > :last-child {

        @include breakpoint(narrow-to-medium) {
            // Hide the last card
            display: none;
        }

        @include breakpoint(wide-to-extra-wide) {
            // Show the last card when there is sufficient space
            display: block;
            max-width: calc(32% - #{$gap} / 3);
        }
    }

    // Target the first two cards in the 'News' section
    > :nth-child(-n+2) {

        @include breakpoint(narrow-to-medium) {
            // Become a row of 2
            max-width: calc(50% - #{$gap} / 2);
        }

        @include breakpoint(wide-to-extra-wide) {
            // Make space for the third card in the row
            max-width: calc(32% - #{$gap} / 3);
        }
    }
}