.primary-nav {
    display: none; // Hide primary nav as default (for mobile devices)

    background-color: $dark-grey;
    color: $white;

    @include breakpoint(medium-to-wide) {
        display: block; // Show primary nav for medium and larger devices
        margin-top: 1rem;
    }

    a {
        color: $white;
    }
    a:visited {
        color: $white;
    }
}
