// Default state (on page load)
.secondary-nav {

    position: fixed;
    top: 0;
    right: 0;
    z-index: -10;  // Move sidebar 'behind' main content
    width: 17.5rem;
    overflow: auto;
}

.secondary-nav--active {

    height: 100%; 
    // Sidebar must be 'above' <body> & <html> for scrolling and clicking to work
    z-index: 10;  
}