%button {
    padding: 0.75em 1em;
    border: none; 
    border-radius: 0.25em; 

    color: $white;

    display: inline-block;

    text-transform: uppercase;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }

}