%button {

    // Align text with SVG icons
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;

    padding: 0.75em 1em;
    border: none;
    border-radius: 0.25em;

    color: $white;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

%arrow-icon-in-button {

    .icon {
        width: 1.25rem;
        margin-left: 0.5rem;
        fill: $white;
    }
}