// Make HTML elements visibly hidden but accessibly available to screen readers, search engine crawlers, bots, etc. 
.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

// Prevent inline text from wrapping onto a new line
.no-line-break {
    white-space: nowrap;
}

// Allows 'View More' links to be positioned to the right of the headings on medium viewports and above
// Used in the 'Services' and 'News' sections 
.flex-container-for-heading-and-view-more-link {

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2rem;
}

// Used in the 'Partners' and 'Clients' sections
.logo-carousel-horizontal-centering-container {
    display: flex;
    justify-content: center;

    // Stops the rightward width of the carousel increasing the page width unwantedly
    overflow-x: clip;
}

// Used in the 'Partners' and 'Clients' sections
.logo-carousel-flex-parent-container {
    display: flex;
    gap: $gap * 3;
    align-items: center;
}

// Used to darken the rest of the page to indicate it is not currently available. 
// Used when the secondary-nav is in view. 
// Also prevents the rest of the page from being interacted with by mouse or finger.
.dark-overlay {

    position: fixed;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;

    opacity: 0%;
    z-index: 20; 

    // Although when inactive the `<div>` stays on top of the rest of the page,
    // it doesn't prevent the rest of the page from being interacted with by mouse or finger.
    pointer-events: none;

    transition: transform $transition-duration-01 ease-in-out, opacity $transition-duration-01 ease-in-out;
}

.dark-overlay--active {
    
    width: 100%;
    height: 100%;
    opacity: 75%;
    transform: translateX(-17.5rem);
    pointer-events: auto;  // Make clickable for event listener to close the secondary-nav

    // The secondary-nav is slightly wider when the viewport is wider, 
    // so the main content must shift a bit further to the left
    @include breakpoint(medium-to-wide) {
        transform: translateX(-22rem);
    }

}