.footer__logo-container {
    max-width: 20rem;

    img {
        display: block;
        width: 100%;
    }
}

.footer__heading {

    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    color: $white;

    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.footer__social-media-link {

    display: inline-block;
    padding: 1rem 1.25rem 0.75rem;
    margin: 0.25rem;

    background-color: $darker-grey;

    svg {
        height: 1.5rem;
    }

    path {
        fill: $white;
    }

}

.footer__nav-list {
    list-style-type: none;

    font-size: 0.8rem;
}

.footer__nav-item {

    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.footer__nav-link {

    color: $white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer__legal-section {

    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    background-color: $darker-grey;
}

.footer__legal-text {

    display: block;
    font-size: 0.8rem;
    color: $white;

    @include breakpoint(narrow-to-medium) {
        display: inline;
    }
}

// Modifiers

.footer__nav-link--sitemap {
    display: block;
    font-size: 0.8rem;

    @include breakpoint(narrow-to-medium) {
        
        display: inline;
        margin-left: 0.2rem;
        
        &:before {
            content: ' - ';
            margin-right: 0.2rem;

        }
    }
}

// Modifiers

@include social-media-link-background-colour-on-hover('facebook');
@include social-media-link-background-colour-on-hover('linkedin');
@include social-media-link-background-colour-on-hover('twitter');
@include social-media-link-background-colour-on-hover('instagram');