.header__top-row-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    margin-right: auto;
    text-decoration: none;

    @include breakpoint(narrow-to-medium) {
        // Logo needs to be slightly smaller to fit the searchbar comfortably in the header
        max-width: 22rem;
    }

    @include breakpoint(medium-to-wide) {
        // Logo returns to normal size when more space is available
        max-width: 100%;
    }
}

.header__logo-image {
    width: 100%;
}

.header__phone-us-button {

    margin-left: 1.5rem;
    margin-right: 1.5rem;

    @include breakpoint(narrow-to-medium) {
        display: none;
    }
}

.header__phone-icon {

    margin-top: 0.5em;
    width: 2rem;
    fill: $dark-grey;

    &:hover {
        fill: darken($dark-grey, 15%);
    }
}

.header__nav-menu-button {

    @include background-with-darken-on-hover($dark-grey);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 3.5rem;
    width: 4rem;

    background-color: $dark-grey;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.25em;

    cursor: pointer;

    span {
        display: block;
        width: 2rem;
        height: 0.25rem;
        background-color: $white;
    }
}

.header__support-button {

    @extend %button;

    height: 3.5rem;
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;

    // Default styling to hide button on narrow screens
    display: none;

    @include breakpoint(medium-to-wide) {

        display: inline-flex;
        @include background-with-darken-on-hover(map-get($services-colours, 'it support'));
    }

    .icon {
        fill: $white;
    }
}

.header__contact-button {

    @extend %button;

    height: 3.5rem;
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;

    // Default styling to hide button on narrow screens
    display: none;

    @include breakpoint(medium-to-wide) {

        display: inline-flex;
        @include background-with-darken-on-hover($mid-grey-04);
    }

    .icon {
        fill: $white;
    }
}

.header__search-form {
    position: relative;
    margin: 0.5rem 0;
}

.header__search-input {

    display: inline-block;
    width: 15rem;
    padding: 0.75rem 1rem;

    background-color: rgba(0, 0, 0, .1);
    color: $mid-grey-03;
    border: 1px solid $mid-grey-02;
    font-size: 0.875rem;

    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &::placeholder {
        color: $mid-grey-04;
    }

    &:focus {
        border-color: $focus-blue;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
        outline: none;
    }
}

.header__search-button {

    top: 0.5rem;
    right: 0.2rem;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.header__search-icon {
    width: 1.6rem;
}

// Modifiers

.header__search-form--narrow-viewport {
    display: block;
    margin-top: 1.2rem;

    @include breakpoint(narrow-to-medium) {
        display: none;
    }

    button.header__search-button {
        position: absolute;
    }
}

.header__search-form--wide-viewport {
    display: none;
    margin-right: 1rem;

    @include breakpoint(narrow-to-medium) {
        display: flex;
    }
}

.header__search-input--narrow-viewport {
    width: 100%;
    border-width: 2px;
    border-radius: 2px;
}

.header__search-input--wide-viewport {
    height: 3.5rem;
    background-color: $white;

    @include breakpoint(narrow-to-medium) {
        width: 10.875rem;
    }

    @include breakpoint(medium-to-wide) {
        display: none;
    }

    @include breakpoint(wide-to-extra-wide) {
        display: inline-block;
        width: 15rem;
    }
}

.header__search-button--wide-viewport {

    width: 4rem;
    height: 3.5rem;
    top: 0;
    right: 0;

    background-color: $mid-grey-04;
    border-radius: 0 0.25rem 0.25rem 0;

    &:hover {
        background-color: darken($mid-grey-04, 15%);
    }

    @include breakpoint(medium-to-wide) {
        position: relative;
        border-radius: 0.25rem;
    }

    @include breakpoint(wide-to-extra-wide) {
        border-radius: 0 0.25rem 0.25rem 0;
    }
}

.header__search-icon--narrow-viewport {
    fill: $dark-grey;
}

.header__search-icon--wide-viewport {
    padding-top: 0.75rem;
    fill: $white;
}