.newsletter-form__heading {

    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: $dark-grey;
}

.newsletter-form__flex-container {
    display: flex;
    flex-direction: column;

    @include breakpoint(medium-to-wide) {
        flex-direction: row;
        gap: 2rem;
    }
}

.newsletter-form__input-container {
    margin-bottom: 1rem;
    width: 100%;
}

.newsletter-form__label {

    display: inline-block;
    font-weight: 600;
    line-height: 2;

    color: $dark-grey;

    a {
        text-decoration: underline;

        &:hover,
        &:visited {
            color: $darker-grey;
        }
    }
}

.newsletter-form__button {
    @extend %button;
    @include background-with-darken-on-hover($dark-grey);

    margin-top: 0.6875em;
    background-color: $dark-grey;
}

.newsletter-form__checkbox-flex-container {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.newsletter-form__input--text {

    display: block;
    width: 100%;
    height: 3rem;
    padding: 5px 15px;
    border: 1px solid $mid-grey-02;

    color: $mid-grey-03;
    font-size: 0.875rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(91, 192, 222, .6);
    }
}

.newsletter-form__input-container--required label::after {

    content: '*';
    color: $required-red;
    padding-left: 0.2em;
}

// Make a custom checkbox

.newsletter-form__input--checkbox {

    // Hide the browser-native checkbox, while keeping it in the accessibility tree
    opacity: 0;
    position: absolute;
}

.newsletter-form__label[for="newsletter-form-preferences"] {
    // Align the checkbox against the label
    display: flex;
    align-items: center;
}

.newsletter-form__label[for="newsletter-form-preferences"]::before {

    // Create a custom checkbox
    content: '';
    display: inline-block;
    align-self: start;
    min-width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    border: 0.1875rem solid $dark-grey;
    border-radius: 0.1875rem;
    font-size: 1.25rem;
}

.newsletter-form__input--checkbox:checked + .newsletter-form__label::before {

    // Styling for when the custom checkbox is checked
    content: '✓';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark-grey;
    color: $white;
}