.news__header {
    color: $dark-grey;

    font-size: 2.25rem;
}

.news__view-all-link {

    color: $dark-grey;

    font-size: 1.625rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.news__card {
    position: relative;

    margin-top: 30px;

    top: 0;
    transition: .5s ease;


    box-shadow: 0 3px 35px rgba(0, 0, 0, .1);

    &:hover {
        top: -10px;
        transition: .5s ease;
    }
}

.news__card-image {
    display: block;
    width: 100%;
}

.news__card-category-label {
    position: absolute;
    top: 0.5rem;
    right: 0;

    // padding: 0.5rem 1rem;
    padding: 0.25em 1em;

    color: $white;
    background-color: $dark-grey;

    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;


    &:hover {
        text-decoration: underline;
    }
}

.news__card-text-container {
    padding: 1.875rem;
    border: 1px solid $mid-grey-02;
    border-top: none;
    border-radius: 3px;
}

.news__card-title {
    display: inline;

    font-size: 1rem;
}

.news__card-read-length {
    color: $mid-grey-04;

    font-size: 0.85rem;
    text-transform: uppercase;

    &:before {
        content: '-';
        padding-right: 0.5em;
    }
}

.news__card-summary {
    margin-bottom: 2rem;

    color: $mid-grey-03;

    font-size: 0.8125rem;
}

.news__card-read-more-button {
    @extend %button;
}

.news__card-author-container {
    padding: 30px;
    border-top: 1px solid $mid-grey-02;
    margin-top: 50px;
}

.news__card-avatar {
    
}

.news__card-posted-by {
    color: $dark-grey;

    font-weight: 600;
}

.news__card-posted-date {
    display: block;
    color: $dark-grey;
}

// Modifiers

.news__card-title--careers {
    color: $careers-blue;
}

.news__card-title--bespoke-software {
    color: map-get($services-colours, 'bespoke software');
}

.news__card-title--it-support {
    color: map-get($services-colours, 'it support');
}

.news__card-title--web-design {
    color: map-get($services-colours, 'web design');
}

.news__card-read-more-button--careers {
    @include background-with-darken-on-hover($careers-blue);
}

.news__card-read-more-button--bespoke-software {
    @include background-with-darken-on-hover(map-get($services-colours, 'bespoke software'));
}

.news__card-read-more-button--it-support {
    @include background-with-darken-on-hover(map-get($services-colours, 'it support'));
}

.news__card-read-more-button--web-design {
    @include background-with-darken-on-hover(map-get($services-colours, 'web design'));
}