.services__heading {

    margin: 0;
    color: $dark-grey;
    font-size: 2.75rem;
}

.services__view-case-studies-link {

    color: $dark-grey;
    font-size: 1.625rem;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.services__card {

    display: block;
    // width: 100%;
    position: relative;
    top: 0;
    transition: 0.5s ease;

    padding: 1.875rem;
    border: 1px solid $mid-grey-02;
    border-radius: 1rem;
    // margin-top: 2rem;

    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);

    text-align: center;

    &:hover {
        top: -0.625rem;
    }

    // Handle changing the colours of the cards on hover
    @include reverse-card-colours-on-hover('bespoke software');
    @include reverse-card-colours-on-hover('it support');
    @include reverse-card-colours-on-hover('digital marketing');
    @include reverse-card-colours-on-hover('telecoms services');
    @include reverse-card-colours-on-hover('web design');
    @include reverse-card-colours-on-hover('cyber security');
    @include reverse-card-colours-on-hover('developer training');
}

.services__card-heading {

    color: $dark-grey;

    font-size: 1.3rem;
    font-weight: 400;
}

.services__card-description {

    color: $dark-grey;

    font-size: 0.8125rem;
}

.services__card-read-more-button {

    @extend %button;
}

// Apply colour to buttons per each category of service

.services__card-read-more-button--bespoke-software {

    @include background-with-darken-on-hover(map-get($services-colours, 'bespoke software'));
}

.services__card-read-more-button--it-support {

    @include background-with-darken-on-hover(map-get($services-colours, 'it support'));
}

.services__card-read-more-button--digital-marketing {

    @include background-with-darken-on-hover(map-get($services-colours, 'digital marketing'));
}

.services__card-read-more-button--telecoms-services {

    @include background-with-darken-on-hover(map-get($services-colours, 'telecoms services'));
}

.services__card-read-more-button--web-design {

    @include background-with-darken-on-hover(map-get($services-colours, 'web design'));
}

.services__card-read-more-button--cyber-security {

    @include background-with-darken-on-hover(map-get($services-colours, 'cyber security'));
}

.services__card-read-more-button--developer-training {

    @include background-with-darken-on-hover(map-get($services-colours, 'developer training'));
}

// Modifiers

.services__view-case-studies-link--wide-viewport {

    @include show-on-medium-viewport-and-above;
}

.services__view-case-studies-link--narrow-viewport {

    display: block;
    margin-top: 1.5rem;
    text-align: center;

    @include hide-on-medium-viewport-and-above;
}